[submodule "3d_armor"]
	path = 3d_armor
	url = https://github.com/mt-mods/3d_armor.git
[submodule "adv_keys"]
	path = adv_keys
	url = https://github.com/Lejo1/adv_keys.git
[submodule "advtrains_platform"]
	path = advtrains_platform
	url = https://github.com/minetest-mirrors/advtrains_platform.git
[submodule "advtrains_railbus"]
	path = advtrains_railbus
	url = https://github.com/mbblp/advtrains_railbus.git
[submodule "advtrains_subway_colored"]
	path = advtrains_subway_colored
	url = https://github.com/pandorabox-io/advtrains_subway_colored.git
[submodule "ambience"]
	path = ambience
	url = https://notabug.org/TenPlus1/ambience.git
[submodule "anvil"]
	path = anvil
	url = https://github.com/minetest-mods/anvil.git
[submodule "areas"]
	path = areas
	url = https://github.com/minetest-mods/areas.git
[submodule "bakedclay"]
	path = bakedclay
	url = https://notabug.org/TenPlus1/bakedclay.git
[submodule "banners"]
	path = banners
	url = https://github.com/pandorabox-io/banners.git
[submodule "beacon"]
	path = beacon
	url = https://github.com/OgelGames/beacon.git
[submodule "bedrock"]
	path = bedrock
	url = https://github.com/Calinou/bedrock.git
[submodule "beerchat"]
	path = beerchat
	url = https://github.com/pandorabox-io/beerchat.git
[submodule "bike"]
	path = bike
	url = https://gitlab.com/h2mm/bike.git
[submodule "biofuel"]
	path = biofuel
	url = https://github.com/Lokrates/Biofuel.git
[submodule "biome_lib"]
	path = biome_lib
	url = https://gitlab.com/VanessaE/biome_lib.git
[submodule "bonemeal"]
	path = bonemeal
	url = https://notabug.org/TenPlus1/bonemeal.git
[submodule "boost_cart"]
	path = boost_cart
	url = https://github.com/SmallJoker/boost_cart.git
[submodule "bow"]
	path = bow
	url = https://github.com/Arcelmi/minetest-bows.git
[submodule "bridger"]
	path = bridger
	url = https://github.com/v-rob/bridger.git
[submodule "canned_food"]
	path = canned_food
	url = https://github.com/h-v-smacker/canned_food.git
[submodule "castle_gates"]
	path = castle_gates
	url = https://github.com/minetest-mods/castle_gates.git
[submodule "castle_weapons"]
	path = castle_weapons
	url = https://github.com/minetest-mods/castle_weapons.git
[submodule "ccompass"]
	path = ccompass
	url = https://github.com/minetest-mods/ccompass.git
[submodule "charcoal"]
	path = charcoal
	url = https://github.com/pandorabox-io/charcoal.git
	branch = pandorabox
[submodule "controls"]
	path = controls
	url = https://github.com/mt-mods/controls.git
[submodule "currency"]
	path = currency
	url = https://gitlab.com/VanessaE/currency.git
[submodule "datastorage"]
	path = datastorage
	url = https://github.com/minetest-technic/datastorage.git
[submodule "digilines"]
	path = digilines
	url = https://github.com/minetest-mods/digilines.git
[submodule "digistuff"]
	path = digistuff
	url = https://github.com/minetest-mirrors/digistuff.git
[submodule "digiterms"]
	path = digiterms
	url = https://github.com/pyrollo/digiterms.git
[submodule "digtron"]
	path = digtron
	url = https://github.com/minetest-mods/digtron.git
[submodule "display_modpack"]
	path = display_modpack
	url = https://github.com/pyrollo/display_modpack.git
[submodule "drawers"]
	path = drawers
	url = https://github.com/minetest-mods/drawers.git
[submodule "easyvend"]
	path = easyvend
	url = https://github.com/minetest-mirrors/easyvend.git
[submodule "ehlphabet"]
	path = ehlphabet
	url = https://github.com/minetest-mirrors/ehlphabet.git
[submodule "elevator"]
	path = elevator
	url = https://github.com/shacknetisp/elevator.git
[submodule "endless_apples"]
	path = endless_apples
	url = https://github.com/Ezhh/endless_apples.git
[submodule "factory_bridges"]
	path = factory_bridges
	url = https://github.com/pandorabox-io/factory_bridges.git
[submodule "farming"]
	path = farming
	url = https://github.com/minetest-mirrors/farming.git
[submodule "farming_nextgen"]
	path = farming_nextgen
	url = https://github.com/berengma/farming_nextgen.git
[submodule "font_botic"]
	path = font_botic
	url = https://github.com/pyrollo/font_botic.git
[submodule "framedglass"]
	path = framedglass
	url = https://github.com/minetest-mods/framedglass.git
[submodule "fsc"]
	path = fsc
	url = https://github.com/sofar/fsc.git
[submodule "geocache"]
	path = geocache
	url = https://github.com/pandorabox-io/geocache.git
[submodule "geoip"]
	path = geoip
	url = https://github.com/pandorabox-io/geoip.git
[submodule "gravity_manager"]
	path = gravity_manager
	url = https://github.com/pandorabox-io/gravity_manager.git
[submodule "hangglider"]
	path = hangglider
	url = https://github.com/mt-mods/hangglider.git
[submodule "hazmat_suit"]
	path = hazmat_suit
	url = https://github.com/pandorabox-io/hazmat_suit.git
	branch = pandorabox
[submodule "homedecor_modpack"]
	path = homedecor_modpack
	url = https://gitlab.com/VanessaE/homedecor_modpack.git
[submodule "ilights"]
	path = ilights
	url = https://gitlab.com/VanessaE/ilights.git
[submodule "inspector"]
	path = inspector
	url = https://github.com/minetest-mods/inspector.git
[submodule "jumpdrive"]
	path = jumpdrive
	url = https://github.com/thomasrudin-mt/jumpdrive.git
[submodule "jumping"]
	path = jumping
	url = https://github.com/minetest-mods/jumping.git
[submodule "lavastuff"]
	path = lavastuff
	url = https://github.com/LoneWolfHT/lavastuff.git
[submodule "led_marquee"]
	path = led_marquee
	url = https://gitlab.com/VanessaE/led_marquee.git
[submodule "letters"]
	path = letters
	url = https://github.com/minetest-mods/letters.git
[submodule "loot"]
	path = loot
	url = https://github.com/minetest-mods/loot.git
[submodule "mapserver"]
	path = mapserver
	url = https://github.com/minetest-mapserver/mapserver_mod.git
[submodule "maptools"]
	path = maptools
	url = https://github.com/minetest-mods/maptools.git
[submodule "mesecons"]
	path = mesecons
	url = https://github.com/minetest-mods/mesecons.git
[submodule "mesecons_stealthnode"]
	path = mesecons_stealthnode
	url = https://github.com/acmgit/mesecons_stealthnode.git
[submodule "mesecons_protected_button"]
	path = mesecons_protected_button
	url = https://github.com/pandorabox-io/mesecons_protected_button.git
[submodule "mesecons_protected_switch"]
	path = mesecons_protected_switch
	url = https://github.com/pandorabox-io/mesecons_protected_switch.git
[submodule "missions"]
	path = missions
	url = https://github.com/thomasrudin-mt/missions.git
[submodule "mob_horse"]
	path = mob_horse
	url = https://notabug.org/TenPlus1/mob_horse.git
[submodule "mobs"]
	path = mobs
	url = https://notabug.org/TenPlus1/mobs_redo.git
[submodule "mobs_animal"]
	path = mobs_animal
	url = https://notabug.org/TenPlus1/mobs_animal.git
[submodule "mobs_monster"]
	path = mobs_monster
	url = https://notabug.org/TenPlus1/mobs_monster.git
[submodule "mobs_npc"]
	path = mobs_npc
	url = https://notabug.org/TenPlus1/mobs_npc.git
[submodule "mobs_water"]
	path = mobs_water
	url = https://notabug.org/TenPlus1/mobs_water.git
[submodule "mobs_xenomorph"]
	path = mobs_xenomorph
	url = https://github.com/pandorabox-io/mobs_xenomorph.git
[submodule "moderator_armor"]
	path = moderator_armor
	url = https://github.com/pandorabox-io/moderator_armor.git
[submodule "monitoring"]
	path = monitoring
	url = https://github.com/minetest-monitoring/monitoring.git
[submodule "moreblocks"]
	path = moreblocks
	url = https://github.com/minetest-mods/moreblocks.git
[submodule "more_chests"]
	path = more_chests
	url = https://github.com/minetest-mods/more_chests.git
[submodule "morelights"]
	path = morelights
	url = https://github.com/random-geek/morelights.git
[submodule "moreores"]
	path = moreores
	url = https://github.com/minetest-mods/moreores.git
[submodule "moretrees"]
	path = moretrees
	url = https://gitlab.com/VanessaE/moretrees.git
[submodule "multitools"]
	path = multitools
	url = https://github.com/ChimneySwift/multitools.git
[submodule "pandorabox_custom"]
	path = pandorabox_custom
	url = https://github.com/pandorabox-io/pandorabox_custom.git
[submodule "pipeworks"]
	path = pipeworks
	url = https://gitlab.com/OgelGames/pipeworks.git
[submodule "planet_mars"]
	path = planet_mars
	url = https://github.com/pandorabox-io/planet_mars.git
[submodule "planet_moon"]
	path = planet_moon
	url = https://github.com/pandorabox-io/planet_moon.git
[submodule "planetoidgen"]
	path = planetoidgen
	url = https://github.com/pandorabox-io/planetoidgen.git
[submodule "planetoids"]
	path = planetoids
	url = https://github.com/pandorabox-io/planetoids.git
[submodule "pontoons"]
	path = pontoons
	url = https://github.com/minetest-mods/pontoons.git
[submodule "pvp_areas"]
	path = pvp_areas
	url = https://github.com/everamzah/pvp_areas.git
[submodule "replacer"]
	path = replacer
	url = https://github.com/SwissalpS/replacer.git
[submodule "ropes"]
	path = ropes
	url = https://github.com/minetest-mods/ropes.git
[submodule "scifi_nodes"]
	path = scifi_nodes
	url = https://github.com/D00Med/scifi_nodes.git
[submodule "signs_lib"]
	path = signs_lib
	url = https://gitlab.com/VanessaE/signs_lib.git
[submodule "skinsdb"]
	path = skinsdb
	url = https://github.com/pandorabox-io/skinsdb.git
	branch = pandorabox
[submodule "skybox"]
	path = skybox
	url = https://github.com/pandorabox-io/skybox.git
[submodule "sling"]
	path = sling
	url = https://github.com/minetest-mods/sling.git
[submodule "smartshop"]
	path = smartshop
	url = https://github.com/pandorabox-io/smartshop.git
	branch = pandorabox
[submodule "soundblock"]
	path = soundblock
	url = https://github.com/thomasrudin-mt/soundblock.git
[submodule "soundblock_scifi"]
	path = soundblock_scifi
	url = https://github.com/thomasrudin-mt/soundblock_scifi.git
[submodule "spacecannon"]
	path = spacecannon
	url = https://github.com/pandorabox-io/spacecannon.git
[submodule "spacesuit"]
	path = spacesuit
	url = https://github.com/thomasrudin-mt/spacesuit.git
[submodule "stained_glass"]
	path = stained_glass
	url = https://github.com/andersje/stained_glass.git
[submodule "stamina"]
	path = stamina
	url = https://github.com/minetest-mods/stamina.git
[submodule "technic"]
	path = technic
	url = https://github.com/mt-mods/technic.git
[submodule "technic_armor"]
	path = technic_armor
	url = https://github.com/stujones11/technic_armor.git
[submodule "telemosaic"]
	path = telemosaic
	url = https://github.com/pandorabox-io/telemosaic.git
[submodule "textline"]
	path = textline
	url = https://github.com/gbl08ma/textline.git
[submodule "throwing"]
	path = throwing
	url = https://github.com/minetest-mods/throwing.git
[submodule "throwing_arrows"]
	path = throwing_arrows
	url = https://github.com/minetest-mods/throwing_arrows.git
[submodule "toolranks"]
	path = toolranks
	url = https://github.com/lisacvuk/minetest-toolranks.git
[submodule "travelnet"]
	path = travelnet
	url = https://github.com/mt-mods/travelnet.git
[submodule "unified_inventory"]
	path = unified_inventory
	url = https://github.com/minetest-mods/unified_inventory.git
[submodule "unified_inventory_plus"]
	path = unified_inventory_plus
	url = https://github.com/bousket/unified_inventory_plus.git
[submodule "unifiedbricks"]
	path = unifiedbricks
	url = https://github.com/minetest-mods/unifiedbricks.git
[submodule "unifieddyes"]
	path = unifieddyes
	url = https://gitlab.com/VanessaE/unifieddyes.git
[submodule "vacuum"]
	path = vacuum
	url = https://github.com/thomasrudin-mt/vacuum.git
[submodule "vines"]
	path = vines
	url = https://github.com/bas080/vines.git
[submodule "warzone"]
	path = warzone
	url = https://github.com/pandorabox-io/warzone.git
[submodule "wine"]
	path = wine
	url = https://github.com/minetest-mirrors/wine.git
[submodule "WorldEdit"]
	path = WorldEdit
	url = https://github.com/Uberi/Minetest-WorldEdit.git
[submodule "xban2"]
	path = xban2
	url = https://github.com/minetest-mods/xban2.git
[submodule "xp_redo"]
	path = xp_redo
	url = https://github.com/thomasrudin-mt/xp_redo.git
[submodule "xp_redo_ranks_ores"]
	path = xp_redo_ranks_ores
	url = https://github.com/mt-mods/xp_redo_ranks_ores.git
[submodule "fancy_vend"]
	path = fancy_vend
	url = https://github.com/pandorabox-io/fancy_vend.git
[submodule "basic_materials"]
	path = basic_materials
	url = https://gitlab.com/VanessaE/basic_materials.git
[submodule "tpr"]
	path = tpr
	url = https://github.com/ChaosWormz/teleport-request
[submodule "hidden_doors"]
	path = hidden_doors
	url = https://github.com/h4ml3t/hidden_doors.git
[submodule "auth_proxy_mod"]
	path = auth_proxy_mod
	url = https://github.com/thomasrudin-mt/auth_proxy_mod
[submodule "stairs"]
	path = stairs
	url = https://github.com/pandorabox-io/stairs.git
[submodule "atm"]
	path = atm
	url = https://github.com/h-v-smacker/atm.git
[submodule "mesecons_debug"]
	path = mesecons_debug
	url = https://github.com/thomasrudin-mt/mesecons_debug.git
[submodule "protector"]
	path = protector
	url = https://github.com/mt-mods/protector.git
[submodule "priv_protector"]
	path = priv_protector
	url = https://github.com/pandorabox-io/priv_protector.git
[submodule "locator"]
	path = locator
	url = https://github.com/pandorabox-io/locator.git
[submodule "woodcutting"]
	path = woodcutting
	url = https://github.com/thomasrudin-mt/woodcutting
	branch = nil-check
[submodule "prefab"]
	path = prefab
	url = https://github.com/mt-mods/prefab.git
[submodule "player_monoids"]
	path = player_monoids
	url = https://github.com/minetest-mods/player_monoids.git
[submodule "armor_monoid"]
	path = armor_monoid
	url = https://github.com/minetest-mods/armor_monoid.git
[submodule "shell"]
	path = shell
	url = https://github.com/thomasrudin-mt/shell.git
[submodule "redwood"]
	path = redwood
	url = https://github.com/thomasrudin-mt/redwood.git
[submodule "mesecons_ratelimiter"]
	path = mesecons_ratelimiter
	url = https://github.com/thomasrudin-mt/mesecons_ratelimiter
[submodule "playerfactions"]
	path = playerfactions
	url = https://github.com/minetest-mirrors/playerfactions.git
[submodule "advtrains"]
	path = advtrains
	url = https://github.com/minetest-mirrors/advtrains.git
[submodule "basic_signs"]
	path = basic_signs
	url = https://gitlab.com/VanessaE/basic_signs.git
[submodule "illumination"]
	path = illumination
	url = https://github.com/pandorabox-io/illumination
[submodule "postool"]
	path = postool
	url = https://github.com/SwissalpS/postool.git
	
[submodule "pkarcs"]
	path = pkarcs
	url = https://github.com/TumeniNodes/pkarcs.git
[submodule "slats"]
	path = slats
	url = https://github.com/v-rob/slats
[submodule "glass_stained"]
	path = glass_stained
	url = https://github.com/v-rob/glass_stained.git
[submodule "mail_mod"]
	path = mail_mod
	url = https://github.com/minetest-mail/mail_mod.git
[submodule "falling_item"]
	path = falling_item
	url = https://notabug.org/TenPlus1/falling_item
[submodule "christmas"]
	path = christmas
	url = https://github.com/mt-mods/christmas.git
[submodule "powerbanks"]
	path = powerbanks
	url = https://github.com/OgelGames/powerbanks
[submodule ".partial_mods/cool_trees"]
	path = .partial_mods/cool_trees
	url = https://github.com/runsy/cool_trees.git
[submodule "mypaths"]
	path = mypaths
	url = https://github.com/minetest-mods/mypaths
[submodule "pipeworks_elbow"]
	path = pipeworks_elbow
	url = https://github.com/mt-mods/pipeworks_elbow.git
[submodule "particlefountain"]
	path = particlefountain
	url = https://github.com/damocles-minetest/particlefountain.git
[submodule "mapcleaner"]
	path = mapcleaner
	url = https://github.com/thomasrudin-mt/mapcleaner.git
[submodule "spill_removal"]
	path = spill_removal
	url = https://github.com/pandorabox-io/spill_removal.git
[submodule "afkkick"]
	path = afkkick
	url = https://github.com/pandorabox-io/afkkick.git
[submodule "new_glass"]
	path = new_glass
	url = https://github.com/6r1d/minetest_new_glass.git
[submodule "server_news"]
	path = server_news
	url = https://github.com/pandorabox-io/server_news
[submodule "digiline_global_memory"]
	path = digiline_global_memory
	url = https://github.com/BuckarooBanzay/digiline_global_memory
[submodule "tubetool"]
	path = tubetool
	url = https://github.com/S-S-X/tubetool.git
[submodule "digtron_customizations"]
	path = digtron_customizations
	url = https://github.com/BuckarooBanzay/digtron_customizations
